# We use pytest as our testing framework
pytest

# Test coverage
pytest-cov

# Type checking done by mypy
mypy

# Sphinx for documentation generator
sphinx
sphinx-autobuild

# Google style docstrings
sphinxcontrib-napoleon
